<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{template "styles" .}}
    <title>{{ .DefaultData.Subject}}</title>
</head>
<body>
<table
        role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="body"
>
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table
                                    role="presentation"
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                            >
                                <tr>
                                    <td>
                                        <p>Hi {{ .DefaultData.Name}},</p>
                                        <p>
                                            Forgot password? Send request with your
                                            password and passwordConfirmation to {{.DefaultData.URL}}
                                        </p>
                                        <table
                                                role="presentation"
                                                border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                class="btn btn-primary"
                                        >
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table
                                                            role="presentation"
                                                            border="0"
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                    >
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="{{.DefaultData.URL}}" target="_blank"
                                                                >Reset password</a
                                                                >
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                            If you didn't forget your password, please ignore this
                                            email
                                        </p>
                                        <p>Good luck!</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>